{% extends 'base/base.html' %}
{% block content %}
<h2 class="text-2xl font-bold mb-4 text-red-600">Delete Invoice</h2>

<p>Are you sure you want to delete the invoice <strong>{{ object.number }}</strong>?</p>

<form method="POST">
    {% csrf_token %}
    <div class="py-3 text-end flex justify-between">
      <button type="submit" class="btn btn-sm btn-error">Delete</button>
      <a href="{% url 'invoice-list' %}" class="btn btn-sm border border-gray-400">Cancel</a>
    </div>
</form>
{% endblock content %}
