{% extends 'base/base.html' %}
{% block content %}

<div class="overflow-x-auto">
  <table class="table table-xs table-pin-rows table-pin-cols" id="myTable">
    <thead>
      <tr>
        <th>Company</th>
        <th>Partner</th>
        <th>Document Number</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>{{ invoice.company.name }}</td>
        <td>{{ invoice.partner.name }}</td>
        <td>{{ invoice.number }}</td>
        <td>{{ invoice.amount }}</td>
        <td>{{ invoice.status }}</td>
        <td>
          <a href="{% url 'invoice-detail' invoice.id %}" class="btn btn-sm border border-gray-400">View</a>
          <a href="{% url 'invoice-update' invoice.id %}" class="btn btn-sm border border-gray-400">Edit</a>
          <a href="{% url 'invoice-delete' invoice.id %}" class="btn btn-sm border border-gray-400 text-error">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<a href="{% url 'invoice-create' %}" class="btn btn-sm border border-gray-400">Create New Invoice</a>
{% endblock content %}
