{% extends 'base/base.html' %}
{% block content %}
  <div class="text-error">
    {{ form.errors }}
  </div>
  <form method="POST" class="flex justify-between gap-2">
    {% csrf_token %}
    {% if company %}
    <input type="hidden" name="company" value="{{company.id}}">
    {% else %}
    <input type="hidden" name="company" value="{{object.company.id}}">
    {% endif %}
    <input type="hidden" name="type" value="bill">
      <div class="form-control">
        <label class="label" for="partner">
          <span class="label-text">Partner</span>
        </label>
        {{ form.partner }}
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Pay Term</span>
        </label>
        {{ form.pay_term }}
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Date</span>
        </label>
        {{ form.date }}
      </div>

      <div class="form-control">
        <label class="label" for="due_date">
          <span class="label-text">Due Date</span>
        </label>
        {{ form.due_date }}
      </div>
      <div class="form-control w-2/12">
        <label class="label" for="number">
          <span class="label-text">Document Number</span>
        </label>
        {{ form.number }}
      </div>
    </div>

    <!-- Invoice Items -->
     <div class="text-end  m-2 p-2">
       <button type="button" id="add-item" class="btn btn-sm border border-green-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
          <path d="M9 12h6" />
          <path d="M12 9v6" />
        </svg>
        Add Item
      </button>
     </div>
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols mx-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Product</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Discount</th>
            <th class="px-4 py-2">Total</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
            <tr class="invoice-item">
              <td class="px-4 py-2">{{ form.product }}</td>
              <td class="px-4 py-2">{{ form.quantity }}</td>
              <td class="px-4 py-2">{{ form.price }}</td>
              <td class="px-4 py-2">{{ form.discount }}</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">
                <button type="button" class="btn btn-sm border border-gray-400 remove-item text-error">Remove</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="flex justify-end">
    <div class="grid grid-cols-2 gap-1 py-4 w-3/12">
        <label class="label" for="number">
          <strong class="label-text">SUBTOTAL 1:</strong>
        </label>
        {{ form.number }}
        <label class="label" for="number">
          <strong class="label-text text-cyan-600">DISCOUNT:</strong>
        </label>
        {{ form.number }}
        <label class="label" for="number">
          <strong class="label-text">SUBTOTAL 2:</strong>
        </label>
        {{ form.number }}
        <label class="label" for="number">
          <strong class="label-text text-orange-600">TAX:</strong>
        </label>
        {{ form.number }}
        <label class="label" for="number">
          <strong class="label-text text-green-600">GRAND TOTAL:</strong>
        </label>
        {{ form.number }}
    </div>
  </div>
    <!-- Submit Button -->
    <div class="py-3 text-end flex justify-between mt-6">
      <button type="submit" class="btn btn-sm border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
          <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M14 4l0 4l-6 0l0 -4" />
        </svg>
        Save Invoice
      </button>
      <a href="{% url 'bills-list' %}" class="btn btn-sm border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M5.7 5.7l12.6 12.6" />
        </svg>
        Cancel
      </a>
    </div>
    {{ invoice_items_formset.management_form }}
  </form>
{% endblock content %}

{% block script %}
  var products = {{ products | safe }};
{% endblock script %}

{% block js_files %}
  <script src="/static/js/app-invoices.js"></script>
{% endblock js_files %}