{% extends 'base/base.html' %}
{% block content %}
  <div class="text-error">
    {{ form.errors }}
  </div>
  <form method="POST" class="flex justify-between gap-3">
    {% csrf_token %}
    {% if company %}
    <input type="hidden" name="company" value="{{company.id}}">
    {% else %}
    <input type="hidden" name="company" value="{{object.company.id}}">
    {% endif %}
    <input type="hidden" name="type" value="bill">
      <div class="form-control w-6/12">
        <label class="label" for="customer">
          <span class="label-text">Customer</span>
        </label>
        <select v-model="invoice_headers.customer" @change="setCustomer" class="border border-gray-400 p-1 rounded-sm input input-xs w-full">
          <option selected>Select a partner</option>
          <option v-for="customer in customers" :value="customer" :key="customer.id">[[ customer.name ]]</option>
        </select>
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Date</span>
        </label>
        <input type="date" v-model="invoice_headers.date" class="border border-gray-400 p-1 rounded-sm input input-xs w-full">
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Pay Term</span>
        </label>
        <select v-model="invoice_headers.pay_term" class="border border-gray-400 p-1 rounded-sm input input-xs w-full">
          <option selected>Select a payment term</option>
          <option value="cash">Cash</option>
          <option value="7-DAYS">7 DAYS</option>
          <option value="15-DAYS">15 DAYS</option>
          <option value="30-DAYS">30 DAYS</option>
          <option value="60-DAYS">60 DAYS</option>
          <option value="90-DAYS">90 DAYS</option>
        </select>
      </div>
      <div class="form-control">
        <label class="label" for="due_date">
          <span class="label-text">Due Date</span>
        </label>
        <input type="date" v-model="invoice_headers.due_date" class="border border-gray-400 p-1 rounded-sm input input-xs w-full">
      </div>
      <div class="form-control w-1/12">
        <label class="label" for="number">
          <span class="label-text">Doc Num</span>
        </label>
        <input type="number" v-model="invoice_headers.number" class="border border-gray-400 p-1 rounded-sm text-end text-xl text-error input input-xs w-full text-xl" readonly>
      </div>
    </div>
    <!-- Invoice Items -->
     <div class="text-end  m-2 p-2">
       <button type="button" id="add-item" class="btn btn-sm border border-green-400" @click="addNewItem">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
          <path d="M9 12h6" />
          <path d="M12 9v6" />
        </svg>
        Add Item
      </button>
     </div>
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols mx-auto">
        <thead>
          <tr class="bg-slate-200">
            <th class="px-1 py-1 text-center w-7/12">Product</th>
            <th class="px-1 py-1 text-center w-1/12">Quantity</th>
            <th class="px-1 py-1 text-center w-1/12">Price</th>
            <th class="px-1 py-1 text-center w-1/12">Discount</th>
            <th class="px-1 py-1 text-center w-1/12">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr class="invoice-item text-gray-700">
              <td class="px-1 py-1">
                <div class="flex gap-3 items-center">
                  <span id="confirm">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="red" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M4 7l16 0" />
                      <path d="M10 11l0 6" />
                      <path d="M14 11l0 6" />
                      <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                      <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                    </svg>
                  </span>
                  <select v-model="new_item.product" @change="selectItem" class="border border-gray-400 p-1 rounded-sm input input-xs w-full">
                    <option selected>Select a product</option>
                    <option v-for="product in products" :value="product" :key="product.id">[[ product.name ]]</option>
                  </select>
                </div>
              </td>
              <td class="px-1 py-1">
                <input v-model="new_item.quantity" type="number" class="border border-gray-400 p-1 rounded-sm input input-xs w-full text-end text-xl">
              </td>
              <td class="px-1 py-1">
                <input  v-model="new_item.price" type="text" class="border border-gray-400 p-1 rounded-sm input input-xs w-full text-end text-xl">
              </td>
              <td class="px-1 py-1">
                <input v-model="new_item.discount"  type="text" class="border border-gray-400 p-1 rounded-sm input input-xs w-full text-end text-xl">
              </td>              
              <td class="px-1 py-1">
                <input  v-model="new_item_total" type="text" class="border border-gray-400 p-1 rounded-sm input input-xs w-full text-end text-xl text-success">
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-col w-3/12 justify-end items-center gap-2 ml-auto py-2 border-gray-400">
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          SUBTOTAL 1:
        </label>
        <input type="number" class="border border-gray-400 p-1 rounded-sm text-end input input-xs w-full text-xl" v-model="subtotal_1" readonly>
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          DISCOUNT:
        </label>
        {{ form.discount }}
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          SUBTOTAL 2:
        </label>
        <input v-model="subtotal_2" readonly class="border border-gray-400 p-1 rounded-sm text-end input input-xs w-full text-xl">
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          TAX:
        </label>
        {{ form.tax }}
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          TOTAL:
        </label>
        <input type="number" class="border border-gray-400 p-1 rounded-sm text-end input input-xs w-full text-xl" name="subtotal" id="frm-subtotal" placeholder="00.0" readonly>
      </div>
  </div>
    <!-- Submit Button -->
    <div class="py-3 text-end flex justify-between mt-6">
      <button type="submit" class="btn btn-sm border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
          <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M14 4l0 4l-6 0l0 -4" />
        </svg>
        Save Invoice
      </button>
      <a href="{% url 'bills-list' %}" class="btn btn-sm border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M5.7 5.7l12.6 12.6" />
        </svg>
        Cancel
      </a>
    </div>
    {{ invoice_items_formset.management_form }}
  </form>
{% endblock content %}
{% block js_files %}
<script src="https://unpkg.com/vue@3"></script>
{% endblock js_files %}
{% block script %}
<script>
var productsData = {{ products | safe }};
var customersData = {{ customers | safe }};
var invoice_number = {{ invoice_number }};
</script>
<script src="/static/js/app-invoices.js"></script>
{% endblock script %}
