{% extends 'base/base.html' %}
{% block content %}


<div class="overflow-x-auto">
  <table class="table table-xs table-pin-rows table-pin-cols" id="myTable">
    <thead>
      <tr>
        <th>Company</th>
        <th>Warenhouse Code</th>
        <th>Warenhouse Name</th>
        <th>Warenhouse Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for warenhouse in warenhouses %}
      <tr>
        <td>{{ warenhouse.company.name }}</td>
        <td>{{ warenhouse.code }}</td>
        <td>{{ warenhouse.name }}</td>
        <td>{{ warenhouse.address }}</td>
        <td>
          <a href="{% url 'warenhouse-detail' warenhouse.id %}" class="btn btn-sm border border-gray-400">View</a>
          <a href="{% url 'warenhouse-update' warenhouse.id %}" class="btn btn-sm border border-gray-400">Edit</a>
          <a href="{% url 'warenhouse-delete' warenhouse.id %}" class="btn btn-sm border border-gray-400 text-error">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<a href="{% url 'warenhouse-create' %}" class="btn btn-sm border border-gray-400">Create New Warenhouse</a>
{% endblock content %}
