{% extends 'base/base.html' %}
{% block content %}
{% if action_type == 'success' %}
  {% include 'components/alert-success.html' %}
{% endif %}
<div class="table-responsive">
  <table class="table table-sm table-bordered" id="myTable">
    <thead class="table-light">
      <tr>
        <th>Company</th>
        <th>Warehouse Code</th>
        <th>Warehouse Name</th>
        <th>Warehouse Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for warenhouse in warenhouses %}
      <tr>
        <td>{{ warenhouse.company.name }}</td>
        <td>{{ warenhouse.code }}</td>
        <td>{{ warenhouse.name }}</td>
        <td>{{ warenhouse.address }}</td>
        <td>
          <a href="{% url 'warenhouse-detail' warenhouse.id %}" class="btn btn-outline-primary btn-sm">View</a>
          <a href="{% url 'warenhouse-update' warenhouse.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
          <a href="{% url 'warenhouse-detail' warenhouse.id %}?action=alert" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
