{% extends 'base/base.html' %}
{% block content %}

<div class="table-responsive">
  <table class="table table-sm table-bordered" id="myTable">
    <thead class="table-light">
      <tr class="text-primary text-center">
        <th>Company</th>
        <th>Invoice(s)</th>
        <th>Payment Date</th>
        <th>Amount</th>
        <th>Payment Method</th>
        <th>Payment Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <td class="d-flex justify-content-between align-items-center">
          <a href="{% url 'payment-detail' payment.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-maximize" width="20" height="20" viewBox="0 0 20 20" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M16 4l4 0l0 4" />
              <path d="M14 10l6 -6" />
              <path d="M8 20l-4 0l0 -4" />
              <path d="M4 20l6 -6" />
              <path d="M16 20l4 0l0 -4" />
              <path d="M14 14l6 6" />
              <path d="M8 4l-4 0l0 4" />
              <path d="M4 4l6 6" />
            </svg>
          </a>
          <span>{{ payment.company.name }}</span>
        </td>
        <td>
          {% for invoice in payment.invoice.all %}
            {{ invoice.invoice_number }}
            {% if not forloop.last %}
              ,
            {% endif %}
          {% endfor %}
        </td>
        <td>{{ payment.date }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.get_method_display }}</td>
        <td>{{ payment.payment_number }}</td>
        <td>
          <a href="{% url 'payment-update' payment.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
          <a href="{% url 'payment-delete' payment.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<a href="{% url 'payment-create' %}" class="btn btn-outline-primary btn-sm">Create New Payment</a>

{% endblock content %}
