<div class="breadcrumbs text-sm text-green-600 px-2 rounded-md border border-gray-400 m-0 p-1 shadow bg-white">
    <div class="flex items-center justify-between">
       <div class="flex items-center justify-between gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded-chevrons-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#f21" fill="none" stroke-linecap="round" stroke-linejoin="round">
             <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
             <path d="M9 9l3 3l-3 3" />
             <path d="M13 9l3 3l-3 3" />
             <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
          </svg>
          <span class="uppercase">
          {{ title_bar }}
          </span>
          <div>
           <span class="badge text-error text-xs">
           [showing {{ object_list|length }} Records]
           </span>
        </div>
       </div>
       {% if filter == 'partners'  %}
        {% include 'components/partners-filter.html' %}
        {% endif %}
          <div>
              <a href="{% url 'partner-create' %}" class="btn btn-sm border border-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                    <path d="M9 12h6" />
                    <path d="M12 9v6" />
                  </svg>
               Create New {{ module_name }}
           </a>
       </div>
    </div>
</div>