{% include 'base/header.html' %}
<div class="container w-11/12 mx-auto bg-gray-100 m-2">
  {% block title_bar %}
  {% include 'components/title_bar.html' %}
{% endblock title_bar %}
   <div class="m-2 p-2 shadow border">
      {% block content %}
      {% endblock content %}
   </div>
</div>
</div>
<footer class="bg-teal-400 text-white shadow-md py-4 border border-t-teal-500 border-t-1">
    <div class="container mx-auto text-center">
        <p>© 2024 ledger. Todos los derechos reservados</p>
    </div>
</footer>
{% block js_files %}
{% endblock js_files %}
{% block script %}
{% endblock script %}
{% include 'base/footer.html' %}