{% include 'base/header.html' %}

<div class="mx-auto bg-gray-100 w-full">
    <div class="m-5">
    {% block title_bar %}
    <div class="breadcrumbs text-sm text-teal-600 px-4 rounded-md border border-gray-400 uppercase m-3 shadow">
        <div class="flex gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded-chevrons-right" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#f21" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 9l3 3l-3 3" />
                <path d="M13 9l3 3l-3 3" />
                <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
            </svg>
            <span>
                {{ title_bar }}
            </span>
        </div>
      </div>
    {% endblock title_bar %}
    {% block content %}{% endblock content %}
    </div>
 </div>

{% include 'base/footer.html' %}