{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ledger JC</title>
    <link href="/static/css/libs/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/dataTables.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/full.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/dataTables.min.js"></script>
    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid #d3d3d3; /* Gris claro */
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2; /* Color de fondo gris claro para los encabezados */
    }
    </style>
</head>
<body>
    <div class="container-fluid" id="app">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light border-bottom border-teal">
            <div class="container-fluid px-4 py-1">
                <a class="navbar-brand d-flex border border-gray-300 rounded" href="/">
                    <div class="bg-teal w-2"></div>
                    <div class="bg-teal w-2"></div>
                    <div class="bg-teal w-2"></div>
                    <div class="bg-teal w-2"></div>
                    <h3 class="text-xl text-teal px-2">Ledger</h3>
                </a>
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-gray-700 d-flex gap-1" href="#" id="listsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                                    <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                                    <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                                    <path d="M11 6l9 0" />
                                    <path d="M11 12l9 0" />
                                    <path d="M11 18l9 0" />
                                </svg>
                                Lists
                            </a>
                            <ul class="dropdown-menu shadow border-teal" aria-labelledby="listsDropdown">
                                <li><a class="dropdown-item" href="{% url 'partner-list' %}">Partners</a></li>
                                <li><a class="dropdown-item" href="{% url 'company-list' %}">Company</a></li>
                                <li><a class="dropdown-item" href="{% url 'product-list' %}">Product</a></li>
                                <li><a class="dropdown-item" href="{% url 'inventorymovement-list' %}">Inventory Movement</a></li>
                                <li><a class="dropdown-item" href="{% url 'bank-list' %}">Bank</a></li>
                                <li><a class="dropdown-item" href="{% url 'transaction-list' %}">Transaction</a></li>
                                <li><a class="dropdown-item" href="{% url 'generalledger-list' %}">General Ledger</a></li>
                                <li><a class="dropdown-item" href="{% url 'payment-list' %}">Payment</a></li>
                                <li><a class="dropdown-item" href="{% url 'warenhouse-list' %}">Warehouse</a></li>
                                <li><a class="dropdown-item" href="{% url 'account-list' %}">Account</a></li>
                            </ul>
                        </li>
        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-gray-700 d-flex gap-1" href="#" id="businessDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-skyscraper" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M3 21l18 0" />
                                    <path d="M5 21v-14l8 -4v18" />
                                    <path d="M19 21v-10l-6 -4" />
                                    <path d="M9 9l0 .01" />
                                    <path d="M9 12l0 .01" />
                                    <path d="M9 15l0 .01" />
                                    <path d="M9 18l0 .01" />
                                </svg>
                                Business
                            </a>
                            <ul class="dropdown-menu shadow border-teal" aria-labelledby="businessDropdown">
                                <li><a class="dropdown-item" href="{% url 'bills-list' %}">Shop</a></li>
                                <li><a class="dropdown-item" href="{% url 'sales-list' %}">Sales</a></li>
                                <li><a class="dropdown-item" href="{% url 'partner-list' %}">Partners</a></li>
                            </ul>
                        </li>
        
                        <!-- Repeat for other nav-items with dropdowns similar to above -->
                    </ul>
                </div>
            </div>
        </nav>
        