{% extends "base/base.html" %}
{% block content %}
<div class="container mx-auto">
    <!-- Nueva Factura Section -->
    <div class="bg-white p-4 rounded-lg shadow-sm mb-8">
        <div class="row pb-4 g-4">
            <a href="" class="col btn border border-secondary bg-gradient">New Sale</a>
            <a href="" class="col btn border border-secondary bg-gradient">Customers</a>
            <a href="" class="col btn border border-secondary bg-gradient">Products</a>
            <a href="" class="col btn border border-secondary bg-gradient">Services</a>
            <a href="" class="col btn border border-secondary bg-gradient">Account Plan</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="myTable">
              <thead>
                <tr class="text-primary">
                    <th class="text-center">Code</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Level</th>
                    <th>Parent</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>
                        <div class="d-flex justify-content-between">
                        <a href="/accounting/account/{{ item.id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-maximize" width="20" height="20" viewBox="0 0 20 20" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M16 4l4 0l0 4" />
                                <path d="M14 10l6 -6" />
                                <path d="M8 20l-4 0l0 -4" />
                                <path d="M4 20l6 -6" />
                                <path d="M16 20l4 0l0 -4" />
                                <path d="M14 14l6 6" />
                                <path d="M8 4l-4 0l0 4" />
                                <path d="M4 4l6 6" />
                              </svg>
                        </a>
                        <span>                
                            {{ item.code }}
                        </span>
                    </div>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>Level {{ item.level }}</td>
                    <td>
                        {% if item.parent_account.code %}
                        <span class="badge bg-light text-dark border border-secondary">
                            {{ item.parent_account.code }}
                        </span>
                        {{ item.parent_account.name }}
                        {% else %}
                        <span class="text-muted">
                            --
                        </span>    
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="row py-10 g-4">
            <a href="" class="col btn border border-secondary bg-gradient">
                Customer Pay
            </a>
        </div>
    </div>
</div>
{% endblock content %}
