{% extends 'base/base.html' %}
{% block content %}

<div class="text-danger">
  {{ form.errors }}
</div>

<form method="POST" class="w-100 mx-auto" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="tax_id">Tax ID</label>
          {{ form.tax_id|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="name">Company Name</label>
          {{ form.name|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="address">Address</label>
          {{ form.address|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="phone">Phone Number</label>
          {{ form.phone|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="email">Email Address</label>
          {{ form.email|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="tax_in_sales">Tax In Sales</label>
          {{ form.tax_in_sales|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="tax_in_purchases">Tax In Purchases</label>
          {{ form.tax_in_purchases|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="website">Website</label>
          {{ form.website|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="logo">Company Logo</label>
          {{ form.logo|add_class:"form-control" }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="manager">Manager</label>
          {{ form.manager|add_class:"form-control" }}
        </div>
      </div>
    </div>
    
    <div class="py-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-sm border border-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
            <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M14 4l0 4l-6 0l0 -4" />
          </svg>
          Save Company
        </button>

        <a href="{% url 'company-list' %}" class="btn btn-sm border border-danger text-danger">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M5.7 5.7l12.6 12.6" />
          </svg>
          Cancel
        </a>
    </div>
</form>

{% endblock content %}
