{% extends 'base/base.html' %}
{% block content %}

<div class="table-responsive">
  <table class="table table-sm table-bordered" id="myTable">
    <thead class="table-light">
      <tr>
        <th>Company</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Transaction Date</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.company.name }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.user.username }}</td>
        <td>
          <a href="{% url 'transaction-detail' transaction.id %}" class="btn btn-outline-primary btn-sm">View</a>
          <a href="{% url 'transaction-update' transaction.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
          <a href="{% url 'transaction-delete' transaction.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<a href="{% url 'transaction-create' %}" class="btn btn-outline-success btn-sm">Create New Transaction</a>

{% endblock content %}
