{% extends 'base/base.html' %}
{% block content %}
<div class="text-error">
  {{ form.errors }}
</div>
<form method="POST" class="w-full max-w-lg mx-auto">
    {% csrf_token %}
    <div class="form-control">
      <label class="label" for="company">
        <span class="label-text">Company</span>
      </label>
      {{ form.company }}
    </div>
    <div class="form-control">
      <label class="label" for="account">
        <span class="label-text">Account</span>
      </label>
      {{ form.account }}
    </div>
    <div class="form-control">
      <label class="label" for="code_sku">
        <span class="label-text">SKU Code</span>
      </label>
      {{ form.code_sku }}
    </div>
    <div class="form-control">
      <label class="label" for="code_bars">
        <span class="label-text">Bars Code</span>
      </label>
      {{ form.code_bars }}
    </div>
    <div class="form-control">
      <label class="label" for="name">
        <span class="label-text">Product Name</span>
      </label>
      {{ form.name }}
    </div>
    <div class="form-control">
      <label class="label" for="price">
        <span class="label-text">Price</span>
      </label>
      {{ form.price }}
    </div>
    <div class="form-control">
      <label class="label" for="cost">
        <span class="label-text">Cost</span>
      </label>
      {{ form.cost }}
    </div>
    <div class="form-control">
      <label class="label" for="type">
        <span class="label-text">Type</span>
      </label>
      {{ form.type }}
    </div>
    <div class="py-3 text-end flex justify-between">
      <div class="py-3 text-end flex justify-between">
        <button type="submit" class="btn btn-sm border border-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
            <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M14 4l0 4l-6 0l0 -4" />
          </svg>
            Save Product
        </button>
        <a href="{% url 'product-list' %}" class="btn btn-sm border border-gray-400">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
            <path d="M5.7 5.7l12.6 12.6" />
          </svg>
          Cancel
        </a>
    </div>
</form>
{% endblock content %}
