{% extends 'base/base.html' %}
{% block content %}

<div class="text-error">
  {{ form.errors }}
</div>

<form method="POST" class="w-full max-w-lg mx-auto">
    {% csrf_token %}
    <div class="form-control">
      <label class="label" for="company">
        <span class="label-text">Company</span>
      </label>
      {{ form.company }}
    </div>
    <div class="form-control">
      <label class="label" for="date">
        <span class="label-text">Date</span>
      </label>
      {{ form.date }}
    </div>
    <div class="form-control">
      <label class="label" for="product">
        <span class="label-text">Product</span>
      </label>
      {{ form.product }}
    </div>
    <div class="form-control">
      <label class="label" for="warenhouse">
        <span class="label-text">Warenhouse</span>
      </label>
      {{ form.warenhouse }}
    </div>
    <div class="form-control">
      <label class="label" for="description">
        <span class="label-text">Description</span>
      </label>
      {{ form.description }}
    </div>
    <div class="form-control">
      <label class="label" for="quantity">
        <span class="label-text">Quantity</span>
      </label>
      {{ form.quantity }}
    </div>
    <div class="form-control">
      <label class="label" for="cost_per_unit">
        <span class="label-text">Cost Per Unit</span>
      </label>
      {{ form.cost_per_unit }}
    </div>
    <div class="form-control">
      <label class="label" for="total_cost">
        <span class="label-text">Total Cost</span>
      </label>
      {{ form.total_cost }}
    </div>
    <div class="form-control">
      <label class="label" for="trasanction">
        <span class="label-text">Transaction</span>
      </label>
      {{ form.trasanction }}
    </div>
    <div class="form-control">
      <label class="label" for="movement">
        <span class="label-text">Movement Type</span>
      </label>
      {{ form.movement }}
    </div>
    <div class="form-control">
      <label class="label" for="user">
        <span class="label-text">User</span>
      </label>
      {{ form.user }}
    </div>
    <div class="py-3 text-end flex justify-between">
        <div class="py-3 text-end flex justify-between">
            <button type="submit" class="btn btn-sm border border-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M14 4l0 4l-6 0l0 -4" />
              </svg>
                Save Inventory Movement
            </button>
            <a href="{% url 'inventorymovement-list'%}" class="btn btn-sm border border-gray-400">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M5.7 5.7l12.6 12.6" />
              </svg>
              Cancel
            </a>
    </div>
</form>
{% endblock content %}