{% extends 'base/base.html' %}
{% block content %}

<div class="overflow-x-auto">
  <table class="table table-xs table-pin-rows table-pin-cols" id="myTable">
    <thead>
      <tr>
        <th>Company</th>
        <th>Date</th>
        <th>Product</th>
        <th>Warenhouse</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Cost Per Unit</th>
        <th>Total Cost</th>
        <th>Transaction</th>
        <th>Movement Type</th>
        <th>User</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for inventory_movement in inventory_movements %}
      <tr>
        <td>{{ inventory_movement.company.name }}</td>
        <td>{{ inventory_movement.date }}</td>
        <td>{{ inventory_movement.product.name }}</td>
        <td>{{ inventory_movement.warenhouse.name }}</td>
        <td>{{ inventory_movement.description }}</td>
        <td>{{ inventory_movement.quantity }}</td>
        <td>{{ inventory_movement.cost_per_unit }}</td>
        <td>{{ inventory_movement.total_cost }}</td>
        <td>
          {% if inventory_movement.trasanction %}
            {{ inventory_movement.trasanction.name }}
          {% endif %}
        </td>
        <td>{{ inventory_movement.get_movement_display }}</td>
        <td>
          {% if inventory_movement.user %}
            {{ inventory_movement.user.username }}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'inventorymovement-detail' inventory_movement.id %}" class="btn btn-sm border border-gray-400">View</a><br>
          <a href="{% url 'inventorymovement-update' inventory_movement.id %}" class="btn btn-sm border border-gray-400">Edit</a>
          <a href="{% url 'inventorymovement-delete' inventory_movement.id %}" class="btn btn-sm border border-gray-400 text-error">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>
<a href="{% url 'inventorymovement-create' %}" class="btn btn-sm border border-gray-400">Create New Inventory Movement</a>
{% endblock content %}