{% extends 'base/base.html' %}
{% block content %}

<div class="text-danger">
  {{ form.errors }}
</div>

<form method="POST" class="container">
    {% csrf_token %}
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label" for="company">Company</label>
        {{ form.company|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="date">Date</label>
        {{ form.date|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="product">Product</label>
        {{ form.product|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="warenhouse">Warehouse</label>
        {{ form.warenhouse|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="description">Description</label>
        {{ form.description|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="quantity">Quantity</label>
        {{ form.quantity|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="cost_per_unit">Cost Per Unit</label>
        {{ form.cost_per_unit|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="total_cost">Total Cost</label>
        {{ form.total_cost|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="trasanction">Transaction</label>
        {{ form.trasanction|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="movement">Movement Type</label>
        {{ form.movement|add_class:"form-control" }}
      </div>
      <div class="col-md-6">
        <label class="form-label" for="user">User</label>
        {{ form.user|add_class:"form-control" }}
      </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <button type="submit" class="btn btn-success btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-save" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M7.293 9.293a1 1 0 0 1 1.414 0L12 12.586l-3.293 3.293a1 1 0 0 1-1.414-1.414L10.586 12l-3.293-3.293a1 1 0 0 1 0-1.414z"/>
            <path fill-rule="evenodd" d="M12.586 10H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V1a1 1 0 0 1 1-1h9.586l.707.707L13.293 2H15v6h-2.414l-2.293-2.293L12.586 10zM12 3.586V10h-2.586L7.414 8.293 3.414 12H3v3h12v-5h-2.586l-3-3z"/>
          </svg>
          Save Inventory Movement
        </button>
        <a href="{% url 'inventorymovement-list'%}" class="btn btn-danger btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-circle" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8a8 8 0 1 1-16 0 8 8 0 0 1 16 0z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          Cancel
        </a>
    </div>
</form>

{% endblock content %}
