{% extends 'base/base.html' %}
{% block content %}

<div class="table-responsive">
  <table class="table table-striped table-hover" id="myTable">
    <thead>
      <tr class="text-primary">
        <th>ID</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for general_ledger in ledgers %}
      <tr>
        <td>
          <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'generalledger-detail' general_ledger.id %}">
              <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-arrows-fullscreen" width="20" height="20" viewBox="0 0 20 20" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M16 4l4 0l0 4" />
                <path d="M14 10l6 -6" />
                <path d="M8 20l-4 0l0 -4" />
                <path d="M4 20l6 -6" />
                <path d="M16 20l4 0l0 -4" />
                <path d="M14 14l6 6" />
                <path d="M8 4l-4 0l0 4" />
                <path d="M4 4l6 6" />
              </svg>
            </a>
            <span>{{ general_ledger.id }}</span>
          </div>
        </td>
        <td>{{ general_ledger.debit }}</td>
        <td>{{ general_ledger.credit }}</td>
        <td>{{ general_ledger.balance }}</td>
        <td>{{ general_ledger.description }}</td>
        <td>
          <a href="{% url 'generalledger-update' general_ledger.id %}" class="btn btn-sm btn-secondary">Edit</a>
          <a href="{% url 'generalledger-delete' general_ledger.id %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br>
<a href="{% url 'generalledger-create' %}" class="btn btn-sm btn-primary">Create New General Ledger</a>
{% endblock content %}
