{% extends 'base/base.html' %}

{% block content %}

  <div class="text-error">
    {{ form.errors }}
  </div>

  <form method="POST" >
    {% csrf_token %}

    <!-- Invoice Data -->
    <div class="grid grid-cols-2 gap-4">
      <div class="form-control">
        <label class="label" for="company">
          <span class="label-text">Company</span>
        </label>
        {{ form.company }}
      </div>

      <div class="form-control">
        <label class="label" for="partner">
          <span class="label-text">Partner</span>
        </label>
        {{ form.partner }}
      </div>

      <div class="form-control">
        <label class="label" for="number">
          <span class="label-text">Document Number</span>
        </label>
        {{ form.number }}
      </div>

      <div class="form-control">
        <label class="label" for="type">
          <span class="label-text">Type</span>
        </label>
        {{ form.type }}
      </div>

      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Date</span>
        </label>
        {{ form.date }}
      </div>

      <div class="form-control">
        <label class="label" for="due_date">
          <span class="label-text">Due Date</span>
        </label>
        {{ form.due_date }}
      </div>
    </div>

    <!-- Invoice Items -->
    <h3 class="text-xl font-bold mb-4 mt-6 text-center">Invoice Items</h3>

    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols mx-auto">
        <thead>
          <tr>
            <th class="px-4 py-2">Product</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Price</th>
            <th class="px-4 py-2">Discount</th>
            <th class="px-4 py-2">Total</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}
            <tr class="invoice-item">
              <td class="px-4 py-2">{{ form.product }}</td>
              <td class="px-4 py-2">{{ form.quantity }}</td>
              <td class="px-4 py-2">{{ form.price }}</td>
              <td class="px-4 py-2">{{ form.discount }}</td>
              <td class="px-4 py-2">0.00</td>
              <td class="px-4 py-2">
                <button type="button" class="btn btn-sm border border-gray-400 remove-item text-error">Remove</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <br>
    <button type="button" id="add-item" class="btn btn-sm border border-gray-400">Add Item</button>

    <!-- Submit Button -->
    <div class="py-3 text-end flex justify-between mt-6">
      <button type="submit" class="btn btn-sm border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" />
          <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M14 4l0 4l-6 0l0 -4" />
        </svg>
        Save Invoice
      </button>
      <a href="{% url 'bills-list' %}" class="btn btn-sm border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ban" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M5.7 5.7l12.6 12.6" />
        </svg>
        Cancel
      </a>
    </div>

    {{ invoice_items_formset.management_form }}
  </form>

{% endblock content %}
