{% extends 'base/base.html' %}
{% block content %}
  <div class="flex justify-between gap-3">
    {% if company %}
    <input type="hidden" name="company" value="{{company.id}}">
    {% else %}
    <input type="hidden" name="company" value="{{object.company.id}}">
    {% endif %}
    <input type="hidden" name="type" value="bill">
      <div class="form-control w-6/12">
        <label class="label" for="customer">
          <span class="label-text">Customer</span>
        </label>
        <input type="text" class="border border-gray-400 p-1 rounded-sm input input-sm text-xl w-full" readonly value="{{ object.partner }}">
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Date</span>
        </label>
        <input type="text" class="border border-gray-400 p-1 rounded-sm input input-sm text-xl w-full" readonly value="{{ object.date }}">
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Credit Days</span>
        </label>
        <input type="text" class="border border-gray-400 p-1 rounded-sm input input-sm text-xl w-full" readonly value="{{ object.pay_terms }}">
      </div>
      <div class="form-control">
        <label class="label" for="date">
          <span class="label-text">Due Date</span>
        </label>
        <input type="text" class="border border-gray-400 p-1 rounded-sm input input-sm text-xl w-full" readonly value="{{ object.due_date }}">
      </div>
      <div class="form-control w-1/12">
        <label class="label" for="number">
          <span class="label-text">Doc Num</span>
        </label>
        <input type="number" class="border border-gray-400 p-1 rounded-sm text-end text-xl text-error input input-sm w-full text-xl" readonly value="{{ object.number }}">
      </div>
    </div>
    <div class="overflow-x-auto py-4">
      <table class="table table-xs table-pin-rows table-pin-cols mx-auto">
        <thead>
          <tr class="">
            <th class="px-1 py-1 text-center w-7/12 bg-gray-500 text-white text-md">Product</th>
            <th class="px-1 py-1 text-center w-1/12 bg-gray-500 text-white text-md">Quantity</th>
            <th class="px-1 py-1 text-center w-1/12 bg-gray-500 text-white text-md">Price</th>
            <th class="px-1 py-1 text-center w-1/12 bg-gray-500 text-white text-md">Discount</th>
            <th class="px-1 py-1 text-center w-1/12 bg-gray-500 text-white text-md">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in invoice_items %}
          <tr v-for="(item, index) in invoice_items" :key="index" class="invoice-item text-gray-700">
            <td class="text-xl">
              <div class="flex gap-3 items-center">
                <span v-show="item.delete" @click="deleteItem(index)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11l3 3l8 -8" />
                    <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9" />
                  </svg>  
                </span>
                <span v-show="!item.delete" @click="item.delete=!item.delete">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="red" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                  </svg>

                </span>
                {{ item.product.name }}
              </div>
            </td>
            <td class="text-xl text-end">{{ item.quantity }}</td>
            <td class="text-xl text-end">{{ item.price }}</td>
            <td class="text-xl text-end">{{ item.discount }}</td>
            <td class="text-xl text-end">{{ item.total }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="flex flex-col w-3/12 justify-end items-center gap-2 ml-auto py-2 border-gray-400">
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          SUBTOTAL 1:
        </label>
        <input type="number" class="border border-gray-400 p-1 rounded-sm text-end input input-sm w-full text-xl" readonly value="{{totals.subtotal}}">
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          DISCOUNT:
        </label>
        <input type="number" class="border border-gray-400 p-1 rounded-sm text-end input input-sm w-full text-xl text-error" readonly value="{{totals.discount}}">
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          SUBTOTAL 2:
        </label>
        <input type="number"  readonly class="border border-gray-400 p-1 rounded-sm text-end input input-sm w-full text-xl" value="{{object.amount}}">
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          TAX 
        </label>
    <input type="number" class="border border-gray-400 p-1 rounded-sm text-end input input-sm w-full text-xl text-orange-500" readonly value="{{ object.tax }}">
      </div>
      <div class="grid grid-cols-2 gap-1 items-center">
        <label class="text-sm text-cyan-800 text-end" for="number">
          TOTAL:
        </label>
        <input  type="number" class="border border-gray-400 p-1 rounded-sm text-end input input-sm w-full text-xl text-success"  placeholder="00.0" readonly value="{{ totals.total }}">
      </div>
  </div>
    <!-- Submit Button -->
    <div class="py-3 text-end flex justify-start mt-6 gap-3">
      <a href="{% url 'payment-create' %}" class="btn btn-md border border-gray-400" :disabled="!isCompleteInvoice" @click="saveInvoice">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coins" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 14c0 1.657 2.686 3 6 3s6 -1.343 6 -3s-2.686 -3 -6 -3s-6 1.343 -6 3z" />
          <path d="M9 14v4c0 1.656 2.686 3 6 3s6 -1.344 6 -3v-4" />
          <path d="M3 6c0 1.072 1.144 2.062 3 2.598s4.144 .536 6 0c1.856 -.536 3 -1.526 3 -2.598c0 -1.072 -1.144 -2.062 -3 -2.598s-4.144 -.536 -6 0c-1.856 .536 -3 1.526 -3 2.598z" />
          <path d="M3 6v10c0 .888 .772 1.45 2 2" />
          <path d="M3 11c0 .888 .772 1.45 2 2" />
        </svg>
        Make Payment
      </a>
      <a href="{% url 'sales-list' %}" class="btn btn-md border border-gray-400">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M20 15h-8v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h8a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1z" />
        </svg>
        Back to List
      </a>
    </div>
  </div>
{% endblock content %}
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="20" height="20" viewBox="0 0 24 24" stroke-width="1" stroke="#009988" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
  <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
</svg>